@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');
*{

font-family: "Montserrat", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
font-family: "Playwrite DE Grund", cursive;
}
h1{
font-size: 35px;
text-align: center;
}
.header{
    height: 50vh;
    background-image: url(../assets/laptop-2443052_640.jpg);
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}